@tailwind base;
@tailwind components;
@tailwind utilities;
/* @tailwind variants; */

/* !! Global Style */
*,*::before,*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: Poppins sans-serif;
}

/* ??? Reguler Style */

/* !! Product Style Start */
  .card{
    /* border: 2px solid red; */
    max-width: 350px;
    padding: 0.75rem;
  }
  .imgContainer{
    height: 70%;
    overflow: hidden;
  }
  .imgContainer > img{
  }
/* !! Product Style End */

/* ?? Hero Image Style Start */
.HeroImg{
  background-image: url("https://unsplash.it/1000/400?image=342");
  background-position: top center;
  background-size: cover;
  padding-block: 4rem;
  margin-bottom: 35rem;
}
.Hajj{
  position: absolute;
  top: 60%;
  left : 0%;
  width: 100%;

}
.whatsup{
  position: absolute;
  top: 85%;
  left: 90%;
  cursor: pointer;
}
/* ?? Hero Image Style End */

/* *** Navbar Style Start */
  .list{
    list-style: none;

  }
  .list a {
    text-decoration: none;
  }
/* *** Navbar Style End */

/* !! Banner Style Start */
  .video{
    position: absolute;
    top: 50%;
    left:  10%;
    transform: translate(-50%,-50%);
  }
  .video > *{
    font-size: 5rem;
    color: #ffffff;
    font-weight: bold;
  }
/* !! Banner Style End */

/* ?? Quote Section Style Start */
.arrows{
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.arrows > *{
  font-size: 2rem;
  cursor: pointer;
}
.quote{
  position: absolute;
  top: 0;
  left: 10%;
  transform: translate(-50%,-50%);
}
.quote > *{
  font-size: 12rem;
  color: #c8ebf6;
}
/* ?? Quote Section Style End */